/* Overall Section Styling */
.about-me-section {
    background: linear-gradient(180deg, #0d0d12, #171725);
    color: #ffffff;
    padding: 3rem 2rem;
    text-align: center;
  }
  
  /* About Me Container */
  .about-me-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  
  .about-me-image img {
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .about-me-content {
    max-width: 900px;

    text-align: center;
  }

  .para{
    text-align: left;
  }
  
  .about-me-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .about-me-content h2 span {
    color: #9f6bff;
  }
  
  .about-me-content p {
    line-height: 1.8;
    font-size: 1.1rem;
  }
  
  /* Technologies Section */
  .technologies-section {
    margin-top: 2rem;
  }
  
  .technologies-section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .technology-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .tech-icon {
    background: #0d0d12;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  }
  
  .tech-icon img {
    width: 50px;
    height: 50px;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-me-container {
      flex-direction: column;
      text-align: left;
    }
  
    .about-me-content {
      margin-left: 0;
      margin-top: 2rem;
    }
    .about-me-content p {
        line-height: 1.4;
        font-size: 1rem;
      }

  }
  