/* Overall Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #1a1a2e; /* Dark background color */
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    text-decoration: none;
   
  }
  
  /* Left Section */
  .navbar-left {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  


  .home-link {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Keeps the text color consistent */
    display: flex; /* Ensures alignment for child elements */
    align-items: center;
  }
  


  .logo {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    text-decoration: none;
  }
  
  .navbar-line {
    margin-left: 1rem;
    border: none;
    height: 2px;
    width: 10px;
    background: #fff;
  }
  
  /* Right Section */
  .navbar-right {
    display: flex;
    gap: 1.5rem;

  }
  
  .navbar-right a {
    color: #fff;
    font-size: 2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-right a:hover {
    color: #00d8ff; /* Light blue on hover */
  }
  

  @media (max-width: 600px) {
    .navbar-right a {
        color: #fff;
        font-size: 1rem;
        transition: color 0.3s ease;
      }



      .logo {
        font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    
      }

      .navbar-right {
        display: flex;
        gap: 1rem;
      }
  }

